body {
  background-color: #EFE4E9;
  color: #985573;
  font-family: sans-serif;
}

h1, h2 {
  color: #3A5551;
  font-family: 'Homemade Apple', cursive;
}

a {
  text-decoration: none;
}

link {
  text-decoration: none;
  color: white;
}

div {
  padding: 2em;
}

p {
  background-color: #F4D6C7;
}

.body-p {
  background-color: white;
  border-radius: 20px;
}

span {
  background-color: #D6C4C8;
}

/*FOOTER*/
a:link {
  color: white;
}

a:visited {
  color: grey;
}

a:hover {
  color: #3A5551
}

a:active {
  color: #985573;
}
